@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "variables", "medias"; //, "medias"

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: $color1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.25;
    }

    .content {
        position: relative;
        text-align: center;
        max-width: 750px;

        h2 {
            color: $color2;
            font-size: 2rem;
            font-weight: 700;
        }

        p {
            color: $color2;
            font-size: 1.4rem;
        }
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10000;

        .logo {
            color: $color2;
            text-decoration: none;
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 10px;
        }

        .abrir-menu {
            display: none;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;

            .menuBtn {
                position: relative;
                width: 50px;
                height: 50px;
                opacity: 100;
                transition: fill 0.3s ease;
            }
        }

        .nav {
            .cerrar-menu {
                display: none;
                
                .menuBtn {
                    position: relative;
                    width: 50px;
                    height: 50px;
                    opacity: 100;
                    margin-right: 2rem;
                    margin-top: 2rem;
                    transition: fill 0.3s ease;
                }
            }

            .nav-list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0;
                margin: 0;

                li {
                    list-style: none;
                    margin: 0 5px;

                    a {
                        text-decoration: none;
                        color: $color2;
                        font-size: 1.2vw;
                    }
                }
            }
        }

    }
}

.about {
    position: relative;
    width: 100%;
    display: flex;

    .contentAbout {
        background: $color4;
        padding: 100px;
        width: 50%;

        .tituloAbout {
            color: $color2;
            font-size: 30px;
            font-weight: 600px;
            letter-spacing: 1;
            margin-bottom: 10px;
        }

        .textAbout {
            color: $color2;
            font-size: 17px;
        }
    }

    .imgAbout {
        background: url(../img/bg_about.jpg);
        width: 50%;
        background-size: cover;
        background-position: center;
    }

}

.servicios {
    background: $color3;
    color: $color2;
    text-align: center;
    padding: 100px;

    .tituloServicios {
        font-weight: 600;
    }

    .textoServicios {
        letter-spacing: 5px;
        font-weight: 500;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 60px;

        .boxServicios {
            position: relative;
            background: $color5;
            width: 350px;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 150px;
            }

            h2 {
                font-size: 30px;
                font-weight: 600;
            }
        }
    }
}

.tecnologia {
    background: $color5;
    width: 100%;
    padding: 100px;
    padding-top: 300px;
    margin-top: -300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .boxTecno {
        width: 50%;
        max-width: 800px;
        color: $color6;
        padding: 20px;
        line-height: 30px;
    }

    .imgTecno {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        right: 0;

        img {
            padding: 10px 20px;
            width: 13rem;
            max-width: 100%;
        }
    }
}

.clientes {
    background-color: $color1;
    padding: 100px;
    text-align: center;
    color: $color2;

    .imgClientes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 40px;

        img {
            max-width: 200px;
            margin: 20px;
            opacity: 0.24;
            cursor: pointer;
        }

        img:hover {
            opacity: 1;
        }
    }
}

.testimonios {
    position: relative;
    padding: 100px;
    background: $color3;
    color: $color1;
    text-align: center;

    .testimoniosContenedor {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        flex-wrap: wrap;

        .testimonioBx {
            background: #fff;
            padding: 60px 50px;
            width: 550px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;

            p {
                font-style: italic;
            }

            h3 {
                width: 100%;
                text-align: end;
                font-weight: 500;
                color: $color3;
            }
        }
    }
}

.contacto {
    background: $color4;
    color: $color2;

    .tituloContacto {
        text-align: center;
    }

    .contactoContenedor {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .contactoBx {
            align-items: center;
            padding: 10px;
            width: 100%;

            .mapa {
                border-radius: 20px;
                border: solid 4px $color3 !important;
                padding: 0;
            }

            .contactoInfo {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;

                h4 {
                    font-size: 1.1em;
                    padding: 10px 40px;
                    text-transform: uppercase;
                    background-color: rgba(28, 70, 112, 0.3)
                }
            }

        }
    }
}

.footer {
    background: $color1;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .dataFiscalBx {
        .dataFiscal {
            width: 200px;
        }
    }


    .leo {
        display: flex;
        align-items: flex-start;
        margin: 0;
        font-size: 10px;
        color: $color2;
        vertical-align: bottom;
    }

    ul {
        color: $color3;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding-bottom: 10%;

        li {
            list-style: none;

            a {
                text-decoration: none;
                display: inline-block;
                margin: 0 10px;

                :hover {
                    transition: transform 0.5s ease-in-out;
                    filter: drop-shadow(0px 13px 19px rgba(0, 0, 0, 0.2));
                    scale: 1.2;
                }

                img {
                    max-width: 50px;
                }
            }
        }

        p {
            margin: 0;
        }
    }
}

//mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery
//mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery
//mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery-mediaquery

@media (max-width: 991px) {

    .contacto {
        .contactoContenedor {
            display: flex;
            flex-direction: column;
        }
    }

    .banner {
        padding: 50px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.25;
        }

        .content {
            position: relative;
            text-align: center;
            max-width: 750px;

            h2 {
                color: $color2;
                font-size: 2rem;
                font-weight: 700;
            }

            p {
                color: $color2;
                font-size: 1.4rem;
            }
        }

        header {
            padding: 20px 50px;
            display: flex;
            justify-content: space-between;



            .logo {
                font-size: 1.5rem;
            }

            .abrir-menu {
                display: block;
                border: 0;
                font-size: 1.25rem;
                background-color: transparent;
                cursor: pointer;
            }

            .nav {
                display: none;
                flex-direction: column;
                align-items: end;
                position: absolute;
                top: 0;
                right: 0;
                height: 100vh;
                background-color: $color3;
                box-shadow: 0 0 0 100vmax rgba(39, 137, 176, 0.7);

                .cerrar-menu {
                    display: block;
                    border: 0;
                    font-size: 1.25rem;
                    background-color: transparent;
                    cursor: pointer;
                    color: $color2;
                }

                .nav-list {
                    flex-direction: column;
                    align-items: end;
                    padding: 2rem;

                    li {
                        a {
                            color: $color4;
                            font-size: 2rem;
                            gap: 20px;
                        }
                    }
                }
            }

        }
    }

    .about {
        flex-direction: column;

        .contentAbout,
        .imgAbout {
            width: 100%;
            padding: 50px;
            min-height: 400px;
            text-align: center;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;

        ul {
            padding: 0;
        }

        .dataFiscalBx {
            text-align: center;
            padding-top: 30px;
            color: $color3;

            .dataFiscal {
                width: 150px;
            }
        }

        .leo {
            margin-top: 50px;
        }
    }

    .servicios {
        padding: 50px;

        .container {
            text-align: center;
            margin-top: 20px;
            justify-content: center;

            .boxServicios {
                margin: 20px;
                width: 300px;
                height: 350px;
            }
        }
    }

    .tecnologia {
        padding: 50px;
        padding-top: 300px;
        justify-content: center;
        flex-direction: column;

        .imgTecno {
            margin-top: 40px;
            max-width: 250px;
        }
    }

    .client {
        padding: 50px;

        .imgClientes {
            /* display: flex;
            justify-content: center;
            align-items: center;
            text-align: center; */
        }
    }

    .testimonios {
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .testimoniosContenedor {
            padding: 60px 40px;
            max-width: 550px;
            margin-bottom: 40px;

            .testimonioBx {}
        }

        .testimoniosContenedor:last-child {
            margin-bottom: 0;
        }
    }

    .contacto {
        .contactoContenedor {
            .contactoBx {
                .contactoInfo {
                    h4 {
                        font-size: 10px;
                    }

                }

                .mapa {
                    margin: 10px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .testimonios {
        padding: 10px;

        .testimoniosContenedor {
            width: auto;
            padding: 20px;

            .testimonioBx {
                width: auto;
            }
        }
    }

    .tecnologia {
        .boxTecno {
            width: 100%;

            .textoTecno {}
        }
    }

    .contacto {
        .contactoContenedor {
            .contactoBx {
                .contactoInfo {
                    h4 {
                        font-size: 10px;
                    }

                }

                .mapa {
                    margin: 10px;
                }
            }
        }
    }

    .clientes {
        .imgClientes {
            display: flex;
            justify-content: center;
        }
    }
}