@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "variables", "header"; //, "medias"

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: $color4;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.25;
    }

    .content {
        position: relative;
        text-align: center;
        max-width: 750px;

        h2 {
            color: $color2;
            font-size: 2rem;
            font-weight: 700;
        }
        p {
            color: $color2;
            font-size: 1.2rem;
        }
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;

        .logo {
            color: $color2;
            text-decoration: none;
            font-size: 2.5em;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 10px;
        }

        .menuToggle {
            position: relative;
            cursor: pointer;
            svg {
                color:  $color2;
            }
        }
    }
}

.about {
    position: relative;
    width: 100%;
    display: flex;

    .contentAbout {
        background: $color1;
        padding: 100px;
        width: 50%;
        
        .tituloAbout {
            color: $color2;
            font-size: 30px;
            font-weight: 600px;
            letter-spacing: 1;
            margin-bottom: 10px;
        }

        .textAbout {
            color: $color2;
            font-size: 17px;
        }
    }

    .imgAbout {
        background: url(../img/bg_about.jpg);
        width: 50%;
        background-size: cover;
        background-position: center;
    }
    
}

.servicios {
    background: $color3;
    color: $color2;
    text-align: center;
    padding: 100px;

    .tituloServicios {
        font-weight: 600;
    }

    .textoServicios {
        letter-spacing: 5px;
        font-weight: 500;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 60px;
        .boxServicios {
            position: relative;
            background: $color5;
            width: 350px;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 150px;
            }
            h2 {
                font-size: 30px;
                font-weight: 600;
            }
        }
    }
}

.tecnologia {
    background: $color5;
    width: 100%;
    padding: 100px;
    padding-top: 300px;
    margin-top: -300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .boxTecno{
        width: 50%;
        max-width: 800px;
        color: $color6;
        padding: 20px;
        line-height: 30px;
    }
    
    .imgTecno {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        right: 0;
        img {
            padding: 10px 20px;
            width: 13rem;
            max-width: 100%;
        }
    }
}

.clientes {
    background-color: $color1;
    padding: 100px;
    text-align: center;

    .imgClientes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 40px;

        img{
            max-width: 200px;
            margin: 20px;
            opacity: 0.24;
            cursor: pointer;
        }
        
        img:hover{
            opacity: 1;
        }
    }
}

.testimonios {
    position: relative;
    padding: 100px;
    background: $color3;
}

@import "medias";